@model WebApplication2.authors_has_books

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Agregar Campos</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>autores y libros</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.authors_id, "authors_id", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("authors_id", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.authors_id, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.books_ISBN_INT, "books_ISBN_INT", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("books_ISBN_INT", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.books_ISBN_INT, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Volver al crud", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
