@model WebApplication2.authors_has_books

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>
    <h4>authors_has_books</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.authors.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.books.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.books.title)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.books_ISBN_INT }) |
    @Html.ActionLink("Volver al Crud", "Index")
</p>
