@model WebApplication2.books

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles</h2>

<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.synopsis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.synopsis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.n_pages)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.n_pages)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.authors_has_books.books_ISBN_INT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.authors_has_books.books_ISBN_INT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.editorials.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.editorials.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Campo", "Edit", new { id = Model.ISBN_INT }) |
    @Html.ActionLink("Volver al Crud", "Index")
</p>
