@model IEnumerable<WebApplication2.books>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Libros</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.synopsis)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.n_pages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.authors_has_books.books_ISBN_INT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.editorials.name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.synopsis)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.n_pages)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.authors_has_books.books_ISBN_INT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.editorials.name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ISBN_INT }) |
            @Html.ActionLink("Details", "Details", new { id = item.ISBN_INT }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ISBN_INT }) |
            @Html.ActionLink("Crear Nuevo", "Create", new { id = item.ISBN_INT })
        </td>
    </tr>
}

</table>
